<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog Section</title>
    <!--    Common Css-->
    <div th:replace="~{common :: common(~{::link})}"></div>
    <link rel="stylesheet" th:href="@{/user/css/blog.css}">

    <style>
        .header, footer {
            font-size: 16px;
            padding: 16px 0;
        }

        footer{
            padding-top: 20px;
        }


        @media (min-width: 1118px) {
          .section-head {
            margin-top: 87px;
          }
        }

        @media (max-width: 1117px) {
          .section-head {
            margin-top: 67px;
          }
        }


    </style>
</head>
<body>

<!--Header Section-->
<div th:replace="~{components/header :: header}"></div>

<!--Page Info-->
<div th:insert="~{components/common :: section-head('Blog','/blog', 'Blog')}"></div>

<!-- Blog Section -->
<div th:replace="~{components/blog :: blog}"></div>

<!--Logo Slider-->
<div th:insert="~{components/common :: head-title('Our Clients', '')}"></div>
<div th:replace="~{components/logo-slider :: logo-slider}"></div>

<!--Testimonial Slider-->
<div th:insert="~{components/common :: head-title('Testimonials', 'What Our Clients Have to Say')}"></div>
<div th:replace="~{components/testimonial :: testimonial}"></div>


<!-- Footer Section -->
<div th:replace="~{components/footer :: footer}"></div>



<!-- Common Js -->
<div th:replace="~{common :: common_js(~{::script})}"></div>
</body>
</html>
