<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="sidebar" th:fragment="sidebar">
    <div class="sidebar-header">
        <h3 class="brand">
            <i class="fa-solid fa-link"></i>
            <span style="font-size:18px;">ABC Company</span>
        </h3>
        <label for="sidebar-toggle"><i class="fa-solid fa-bars"></i></label>
    </div>
    <div class="sidebar-menu">
        <ul>
            <li>
                <a th:href="@{/}">
                    <div style="width: 1.1rem;">
                        <i class="fa-solid fa-house"></i>
                    </div>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a th:href="@{/admin/services/add}">
                    <div style="width: 1.1rem;">
                        <i class="fa-regular fa-face-smile"></i>
                    </div>
                    <span>Add Service</span>
                </a>
            </li>
            <li>
                <a th:href="@{/admin/services/all}">
                    <div style="width: 1.1rem;">
                        <i class="fa-solid fa-calendar"></i>
                    </div>
                    <span>All Services</span>
                </a>
            </li>
            <li>
                <a th:href="@{/admin/testimonial/add}">
                    <div style="width: 1.1rem;">
                        <i class="fa-regular fa-user"></i>
                    </div>
                    <span>Add Testimonial</span>
                </a>
            </li>
            <li>
                <a th:href="@{/admin/testimonials/all}">
                    <div style="width: 1.1rem;">
                        <i class="fa-regular fa-clipboard"></i>
                    </div>
                    <span>All Testimonial</span>
                </a>
            </li>
            <li>
                <a th:href="@{/admin/blog/add}">
                    <div style="width: 1.1rem;">
                        <i class="fa-solid fa-book"></i>
                    </div>
                    <span>Add Blog</span>
                </a>
            </li>
            <li>
                <a th:href="@{/admin/blogs/all}">
                    <div style="width: 1.1rem;">
                        <i class="fa-solid fa-book-open"></i>
                    </div>
                    <span>All Blogs</span>
                </a>
            </li>
            <li>
                <a th:href="@{/admin/gallery/add}">
                    <div style="width: 1.1rem;">
                        <i class="fa-regular fa-folder"></i>
                    </div>
                    <span>Add Gallery</span>

                </a>
            </li>
            <li>
                <a th:href="@{/admin/gallery/all}">
                    <div style="width: 1.1rem;">
                        <i class="fa-solid fa-list-check"></i>
                    </div>
                    <span>All Gallery</span>

                </a>
            </li>
            <li>
                <a th:href=@{/admin/contact/all}>
                    <div style="width: 1.1rem;">
                        <i class="fa-brands fa-paypal"></i>
                    </div>
                    <span>All ContactUs</span>
                </a>
            </li>
<!--            <li>-->
<!--                <a th:href=@{/report/show-all}>-->
<!--                    <div style="width: 1.1rem;">-->
<!--                        <i class="fa-solid fa-book-open"></i>-->
<!--                    </div>-->
<!--                    <span>Reports</span>-->
<!--                </a>-->
<!--            </li>-->
            <li>
                <a th:href=@{/logout}>
                    <div style="width: 1.1rem;">
                        <i class="fa fa-sign-out"></i>
                    </div>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
