<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!-- Banner Section  -->
<section class="home swiper" id="home" th:fragment="banner">
    <div class="swiper-wrapper">
        <!-- Swiper Slide 1 -->
        <div class="swiper-slide">
            <div class="home-slide">
                <img src="/user/img/banner1.jpg" class="slide-img" alt="" />
                <div class="home-overlay"></div>
                <div class="home-text slide-container">
                    <h1 class="slide-title">Real <span>Estate 1</span></h1>
                    <p class="slide-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                        laboriosam totam repellendus at nulla delectus.
                    </p>
                </div>
            </div>
        </div>
        <!-- Swiper Slide 2 -->
        <div class="swiper-slide">
            <div class="home-slide">
                <img src="/user/img/banner2.jpg" class="slide-img" alt="" />
                <div class="home-overlay"></div>
                <div class="home-text slide-container">
                    <h1 class="slide-title">Real <span>Estate 2</span></h1>
                    <p class="slide-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                        laboriosam totam repellendus at nulla delectus.
                    </p>
                </div>
            </div>
        </div>
        <!-- Swiper Slide 3 -->
        <div class="swiper-slide">
            <div class="home-slide">
                <img src="/user/img/banner3.jpg" class="slide-img" alt="" />
                <div class="home-overlay"></div>
                <div class="home-text slide-container">
                    <h1 class="slide-title">Real <span>Estate 3</span></h1>
                    <p class="slide-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                        laboriosam totam repellendus at nulla delectus.
                    </p>
                </div>
            </div>
        </div>
        <!-- Swiper Slide 4 -->
<!--        <div class="swiper-slide">-->
<!--            <div class="home-slide">-->
<!--                <img src="/user/img/event-4.jpg" class="slide-img" alt="" />-->
<!--                <div class="home-overlay"></div>-->
<!--                <div class="home-text slide-container">-->
<!--                    <h1 class="slide-title">Mega <span>Event</span></h1>-->
<!--                    <p class="slide-description">-->
<!--                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam-->
<!--                        laboriosam totam repellendus at nulla delectus.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
    <div class="swiper-pagination"></div>
</section>
</body>
</html>
