<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<section class="blog" th:fragment="blog">

    <div class="box-container">
        <!-- blog 1  -->
        <div class="box shadow" th:each="blog : ${blogs}">
            <div class="image">
                <img th:src="|data:image/jpeg;base64,${blog.image}|" alt="" />
            </div>
            <div class="content">
                <h3 th:text="${blog.title}">This is Heading of Blog 1</h3>
<!--                <p>-->
<!--                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro-->
<!--                    reprehenderit .-->
<!--                </p>-->
                <a th:href="@{'/blog/'+${blog.blogId}}" class="btn">read more</a>
            </div>
        </div>

    </div>
</section>

</body>
</html>
