<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<section class="blog" th:fragment="blog">
    <h1 class="heading">Our Blog</h1>

    <div class="box-container">
        <!-- blog 1  -->
        <div class="box shadow">
            <div class="image">
                <img src="/user/img/blog/banner1.jpg" alt="" />
                <h3><i class="fas fa-heart"></i> 20</h3>
            </div>
            <div class="content">
                <h3>This is Heading of Blog 1</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
                    reprehenderit .
                </p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>

        <!-- blog 1  -->
        <div class="box shadow">
            <div class="image">
                <img src="/user/img/blog/event-3.jpg" alt="" />
                <h3><i class="fas fa-heart"></i> 28</h3>
            </div>
            <div class="content">
                <h3>This is Heading of Blog 2</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
                    reprehenderit .
                </p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>

        <!-- blog 1  -->
        <div class="box shadow">
            <div class="image">
                <img src="/user/img/blog/banner2.jpg" alt="" />
                <h3><i class="fas fa-heart"></i> 34</h3>
            </div>
            <div class="content">
                <h3>This is Heading of Blog 3</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
                    reprehenderit.
                </p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>

        <!-- blog 1  -->
        <div class="box shadow">
            <div class="image">
                <img src="/user/img/blog/banner3.jpg" alt="" />
                <h3><i class="fas fa-heart"></i> 66</h3>
            </div>
            <div class="content">
                <h3>This is Heading of Blog 4</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
                    reprehenderit .
                </p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>

        <!-- blog 1  -->
        <div class="box shadow">
            <div class="image">
                <img src="/user/img/blog/home-1.jpg" alt="" />
                <h3><i class="fas fa-heart"></i> 75</h3>
            </div>
            <div class="content">
                <h3>This is Heading of Blog 5</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
                    reprehenderit .
                </p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>

<!--        &lt;!&ndash; blog 1  &ndash;&gt;-->
<!--        <div class="box shadow">-->
<!--            <div class="image">-->
<!--                <img src="/user/img/blog/home-2.jpg" alt="" />-->
<!--                <h3><i class="fas fa-heart"></i> 16</h3>-->
<!--            </div>-->
<!--            <div class="content">-->
<!--                <h3>This is Heading of Blog 6</h3>-->
<!--                <p>-->
<!--                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro-->
<!--                    reprehenderit .-->
<!--                </p>-->
<!--                <a href="#" class="btn">read more</a>-->
<!--            </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; blog 1  &ndash;&gt;-->
<!--        <div class="box shadow">-->
<!--            <div class="image">-->
<!--                <img src="/user/img/blog/home-3.jpg" alt="" />-->
<!--                <h3><i class="fas fa-heart"></i> 21</h3>-->
<!--            </div>-->
<!--            <div class="content">-->
<!--                <h3>This is Heading of Blog 7</h3>-->
<!--                <p>-->
<!--                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro-->
<!--                    reprehenderit .-->
<!--                </p>-->
<!--                <a href="#" class="btn">read more</a>-->
<!--            </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; blog 1  &ndash;&gt;-->
<!--        <div class="box shadow">-->
<!--            <div class="image">-->
<!--                <img src="/user/img/blog/home-4.jpg" alt="" />-->
<!--                <h3><i class="fas fa-heart"></i> 39</h3>-->
<!--            </div>-->
<!--            <div class="content">-->
<!--                <h3>This is Heading of Blog 8</h3>-->
<!--                <p>-->
<!--                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro-->
<!--                    reprehenderit .-->
<!--                </p>-->
<!--                <a href="#" class="btn">read more</a>-->
<!--            </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; blog 1  &ndash;&gt;-->
<!--        <div class="box shadow">-->
<!--            <div class="image">-->
<!--                <img src="/user/img/blog/event-1.jpg" alt="" />-->
<!--                <h3><i class="fas fa-heart"></i> 66</h3>-->
<!--            </div>-->
<!--            <div class="content">-->
<!--                <h3>This is Heading of Blog 9</h3>-->
<!--                <p>-->
<!--                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro-->
<!--                    reprehenderit .-->
<!--                </p>-->
<!--                <a href="#" class="btn">read more</a>-->
<!--            </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; blog 1  &ndash;&gt;-->
<!--        <div class="box shadow">-->
<!--            <div class="image">-->
<!--                <img src="/user/img/blog/event-2.jpg" alt="" />-->
<!--                <h3><i class="fas fa-heart"></i> 72</h3>-->
<!--            </div>-->
<!--            <div class="content">-->
<!--                <h3>This is Heading of Blog 10</h3>-->
<!--                <p>-->
<!--                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro-->
<!--                    reprehenderit .-->
<!--                </p>-->
<!--                <a href="#" class="btn">read more</a>-->
<!--            </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; blog 1  &ndash;&gt;-->
<!--        <div class="box shadow">-->
<!--            <div class="image">-->
<!--                <img src="/user/img/blog/event-3.jpg" alt="" />-->
<!--                <h3><i class="fas fa-heart"></i> 28</h3>-->
<!--            </div>-->
<!--            <div class="content">-->
<!--                <h3>This is Heading of Blog 11</h3>-->
<!--                <p>-->
<!--                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro-->
<!--                    reprehenderit .-->
<!--                </p>-->
<!--                <a href="#" class="btn">read more</a>-->
<!--            </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; blog 1  &ndash;&gt;-->
<!--        <div class="box shadow">-->
<!--            <div class="image">-->
<!--                <img src="/user/img/blog/event-4.jpg" alt="" />-->
<!--                <h3><i class="fas fa-heart"></i> 31</h3>-->
<!--            </div>-->
<!--            <div class="content">-->
<!--                <h3>This is Heading of Blog 12</h3>-->
<!--                <p>-->
<!--                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro-->
<!--                    reprehenderit .-->
<!--                </p>-->
<!--                <a href="#" class="btn">read more</a>-->
<!--            </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; blog 1  &ndash;&gt;-->
<!--        <div class="box shadow">-->
<!--            <div class="image">-->
<!--                <img src="/user/img/blog/about2.jpg" alt="" />-->
<!--                <h3><i class="fas fa-heart"></i> 54</h3>-->
<!--            </div>-->
<!--            <div class="content">-->
<!--                <h3>This is Heading of Blog 13</h3>-->
<!--                <p>-->
<!--                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro-->
<!--                    reprehenderit .-->
<!--                </p>-->
<!--                <a href="#" class="btn">read more</a>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</section>

</body>
</html>
