z<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="career-sec" th:fragment="career">
    <div class="career-container">
        <!-- Career 1 -->
        <div class="career-box">
            <span>Full Time</span>

            <div class="career-title">
                <h3>Assistant Manager</h3>
                <p>Hinjewadi, Pune</p>
            </div>
            <div class="career-desc">
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem,
                    molestias aliquam harum praesentium doloremque corporis?
                </p>
            </div>
            <a href="#" class="apply-btn">Apply Now</a>
        </div>
        <!-- Career 2 -->
        <div class="career-box">
            <span>Part Time</span>
            <div class="career-title">
                <h3>Pre - Sales Associate</h3>
                <p>Hinjewadi, Pune</p>
            </div>
            <div class="career-desc">
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem,
                    molestias aliquam harum praesentium doloremque corporis?
                </p>
            </div>
            <a href="#" class="apply-btn">Apply Now</a>
        </div>
    </div>
</div>

</body>
</html>
