<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div th:fragment="head-title(pText, h3Text)">
    <div class="head-title">
        <p th:text="${pText}"></p>
        <h3 th:text="${h3Text}"></h3>
    </div>
</div>

<div class="section-head" th:fragment="section-head(pageTitle,currentLink,linkTitle)">
    <div class="section-title">
        <h3 class="page-title" th:text="${pageTitle}">About Section</h3>
    </div>
    <div class="link-sect">
        <span><a th:href="@{/}"><i class="fa-solid fa-house"></i>&nbsp;&nbsp; Home</a></span>
        <span><a th:href="@{${currentLink}}">/&nbsp; [[${linkTitle}]]</a></span>
    </div>
</div>

</body>
</html>
