<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <section class="contact-section"  th:fragment="contact">
        <div class="contact-container">
            <div class="content">
                <div class="left-side">
                    <div class="address details">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="topic">Address</div>
                        <div class="text-one">xyz road, Nazi apartment, Pune 432303</div>
                        <div class="text-two">Yajush 32</div>
                    </div>
                    <div class="phone details">
                        <i class="fas fa-phone-alt"></i>
                        <div class="topic">Phone</div>
                        <div class="text-one">+91 93438324</div>
                        <div class="text-two">+91 93483423</div>
                    </div>
                    <div class="email details">
                        <i class="fas fa-envelope"></i>
                        <div class="topic">Email</div>
                        <div class="text-one">abc@gmail.com</div>
                        <div class="text-two">info.abc@gmail.com</div>
                    </div>
                </div>

                <div class="right-side">
                    <div class="topic-text">Send Us a Message</div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>

                    <form  th:action="@{/contact/save}" method="post" >
                        <div class="input-box">
                            <input type="text" name="name" placeholder="Enter Name" required/>
                        </div>
                        <div class="input-box">
                            <input type="text" name="email" placeholder="Enter Email" required/>
                        </div>
                        <div class="input-box">
                            <input type="text" name="mobile" placeholder="Enter Mobile" required/>
                        </div>
                        <div class="input-box">
                            <input type="text" name="venue" placeholder="Enter Venue" required/>
                        </div>
                        <div class="input-box message-box">
                            <textarea name="message" id="" placeholder="Message" rows="8"></textarea>
                        </div>
                        <div class="button">
<!--                            <input type="button" value="Send Now" required/>-->
                            <button type="submit" class="contact-btn">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
