<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="ex-row" th:fragment="expertise">
    <div class="ex-container">
        <!-- First -->
        <div class="ex-card">
            <div class="left-ex">
                <i class="fa-solid fa-bullhorn"></i>
            </div>
            <div class="right-ex">
                <h3>Project Concept Developement</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
                    dolorum repudiandae totam nesciunt voluptatum unde nobis autem
                    animi amet eveniet!
                </p>
            </div>
        </div>
        <!-- Second -->
        <div class="ex-card">
            <div class="left-ex">
                <i class="fa-solid fa-gauge-high"></i>
            </div>
            <div class="right-ex">
                <h3>Sales Acceleration</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
                    dolorum repudiandae totam nesciunt voluptatum unde nobis autem
                    animi amet eveniet!
                </p>
            </div>
        </div>
        <!-- Third -->
        <div class="ex-card">
            <div class="left-ex">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="right-ex">
                <h3>CRM Integration</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
                    dolorum repudiandae totam nesciunt voluptatum unde nobis autem
                    animi amet eveniet!
                </p>
            </div>
        </div>
        <!-- Fourth -->
        <div class="ex-card">
            <div class="left-ex">
                <i class="fa-solid fa-laptop-code"></i>
            </div>
            <div class="right-ex">
                <h3>Legal Consultattion</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
                    dolorum repudiandae totam nesciunt voluptatum unde nobis autem
                    animi amet eveniet!
                </p>
            </div>
        </div>
        <!-- Fifth -->
        <div class="ex-card">
            <div class="left-ex">
                <i class="fa-solid fa-ship"></i>
            </div>
            <div class="right-ex">
                <h3>Sales & Marketing</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
                    dolorum repudiandae totam nesciunt voluptatum unde nobis autem
                    animi amet eveniet!
                </p>
            </div>
        </div>
        <!-- Sixth -->
        <div class="ex-card">
            <div class="left-ex">
                <i class="fa-brands fa-space-awesome"></i>
            </div>
            <div class="right-ex">
                <h3>Position Strategy</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
                    dolorum repudiandae totam nesciunt voluptatum unde nobis autem
                    animi amet eveniet!
                </p>
            </div>
        </div>
        <!-- Seventh -->
        <div class="ex-card">
            <div class="left-ex">
                <i class="fa-solid fa-torii-gate"></i>
            </div>
            <div class="right-ex">
                <h3>Market Research</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
                    dolorum repudiandae totam nesciunt voluptatum unde nobis autem
                    animi amet eveniet!
                </p>
            </div>
        </div>
        <!-- Eighth -->
        <div class="ex-card">
            <div class="left-ex">
                <i class="fa-solid fa-trophy"></i>
            </div>
            <div class="right-ex">
                <h3>Asset Monetization</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
                    dolorum repudiandae totam nesciunt voluptatum unde nobis autem
                    animi amet eveniet!
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
