<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<header class="header" th:fragment="header">
    <nav class="nav container">
        <div class="nav__data">
            <a href="#" class="nav__logo">
                <!--                <i class="ri-planet-line"></i> ABC Company-->
                <img src="/user/img/logo.png" style="width: 120px; height: 50px;" alt="logo">
            </a>

            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-line nav__burger"></i>
                <i class="ri-close-line nav__close"></i>
            </div>
        </div>

        <!--=============== NAV MENU ===============-->
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li><a th:href="@{/home}" class="nav__link">Home</a></li>

                <li><a th:href="@{/about}" class="nav__link">About</a></li>

                <!--=============== DROPDOWN 1 ===============-->
                <li class="dropdown__item">
                    <div class="nav__link">
                        Service <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <ul class="dropdown__menu">
                        <li th:each="service : ${services}">
                            <a th:href="@{'/service/' + ${service.serviceId}}" class="dropdown__link"
                               th:text="${service.title}"></a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown__item">
                    <div class="nav__link">
                        Blogs & News <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>
                    <ul class="dropdown__menu">
                        <li>
                            <a th:href="@{/blog}" class="dropdown__link">
                                Blogs
                            </a>
                        </li>

                        <li>
                            <a th:href="@{/news}" class="dropdown__link">
                                News
                            </a>
                        </li>
                    </ul>
                </li>
<!--                <li><a th:href="@{/blog}" class="nav__link">Blogs</a></li>-->


                <!--=============== DROPDOWN 2 ===============-->


                <li><a th:href="@{/career}" class="nav__link">Career</a></li>
                <li><a th:href="@{/contact}" class="nav__link">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>
</body>
</html>
