<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<section id="news" th:fragment="news">
<!--    <div class="news-heading">-->
<!--        <span>My Recent Post</span>-->
<!--        <h3>My news</h3>-->
<!--    </div>-->

    <div class="news-container">
        <!-- Box 1 -->
        <div class="news-box">
            <div class="news-img">
                <img src="/user/img/banner1.jpg" alt="">
            </div>
            <div class="news-text">
                <span>18 july 2024</span>
                <a href="#" class="news-title">What Has Happen of All of the Web Design Ideas?</a>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab beatae quis sequi est praesentium quasi culpa laudantium nostrum aliquid odit?</p>
                <a href="#" class="read-more">Read More <i class="fa-solid fa-arrow-right-long"></i></a>
            </div>
        </div>
        <!-- Box 1 -->
        <div class="news-box">
            <div class="news-img">
                <img src="/user/img/about2.jpg" alt="">
            </div>
            <div class="news-text">
                <span>18 july 2024</span>
                <a href="#" class="news-title">What Has Happen of All of the Web Design Ideas?</a>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab beatae quis sequi est praesentium quasi culpa laudantium nostrum aliquid odit?</p>
                <a href="#" class="read-more">Read More <i class="fa-solid fa-arrow-right-long"></i></a>
            </div>
        </div>
        <!-- Box 1 -->
        <div class="news-box">
            <div class="news-img">
                <img src="/user/img/banner2.jpg" alt="">
            </div>
            <div class="news-text">
                <span>18 july 2024</span>
                <a href="#" class="news-title">What Has Happen of All of the Web Design Ideas?</a>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab beatae quis sequi est praesentium quasi culpa laudantium nostrum aliquid odit?</p>
                <a href="#" class="read-more">Read More <i class="fa-solid fa-arrow-right-long"></i></a>
            </div>
        </div>
        <!-- Box 1 -->
        <div class="news-box">
            <div class="news-img">
                <img src="/user/img/banner3.jpg" alt="">
            </div>
            <div class="news-text">
                <span>18 july 2024</span>
                <a href="#" class="news-title">What Has Happen of All of the Web Design Ideas?</a>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab beatae quis sequi est praesentium quasi culpa laudantium nostrum aliquid odit?</p>
                <a href="#" class="read-more">Read More <i class="fa-solid fa-arrow-right-long"></i></a>
            </div>
        </div>
        <!-- Box 1 -->
        <div class="news-box">
            <div class="news-img">
                <img src="/user/img/banner2.jpg" alt="">
            </div>
            <div class="news-text">
                <span>18 july 2024</span>
                <a href="#" class="news-title">What Has Happen of All of the Web Design Ideas?</a>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab beatae quis sequi est praesentium quasi culpa laudantium nostrum aliquid odit?</p>
                <a href="#" class="read-more">Read More <i class="fa-solid fa-arrow-right-long"></i></a>
            </div>
        </div>
        <!-- Box 1 -->
        <div class="news-box">
            <div class="news-img">
                <img src="/user/img/banner1.jpg" alt="">
            </div>
            <div class="news-text">
                <span>18 july 2024</span>
                <a href="#" class="news-title">What Has Happen of All of the Web Design Ideas?</a>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab beatae quis sequi est praesentium quasi culpa laudantium nostrum aliquid odit?</p>
                <a href="#" class="read-more">Read More <i class="fa-solid fa-arrow-right-long"></i></a>
            </div>
        </div>
    </div>
</section>
</body>
</html>
