<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!-- Testimonial Section Start -->
<div class="testimonial-carousel-wrap testimonial" th:fragment="testimonial">
    <div class="testimonials-carousel">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <!-- One  -->
                <div class="swiper-slide" th:each="testimonial: ${testimonials}">
                    <div class="testi-item">
                        <div class="testi-avatar">
                            <img th:src="|data:image/jpeg;base64,${testimonial.image}|" alt="" />
                        </div>
                        <div class="testimonial-text-before">
                            <i class="fa fa-quote-right"></i>
                        </div>
                        <div class="testimonials-text">
                            <div class="listing-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p th:text="${testimonial.description}">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Odio perspiciatis magni voluptatum, laborum aperiam eaque!
                                Esse sapiente voluptas est saepe eius cumque iure? Eos,
                                nemo. Labore perspiciatis ipsam optio eveniet dolorum
                                molestiae pariatur, natus repellendus!
                            </p>
                            <div class="testimonials-avatar">
                                <h3 th:text="${testimonial.title}">John Doe</h3>
                            </div>
                        </div>
                        <div class="testimonial-text-after">
                            <i class="fa fa-quote-left"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="tc-pagination">

    </div> -->
</div>
</body>
</html>
